<h2>Por País</h2>
<hr />
<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" >
        <!-- 
            Habilita la vinculación de expresiones de AngularJS a eventos onsubmit. 
            Además se evita la acción por defecto de recargar la página
        -->
      <input
        type="text"
        name="termino"
        class="form-control"
        placeholder="Buscar país..."
        [(ngModel)]="termino"
        autocomplete="off"
      />
      <!-- 
          [(ngModel)]="termino" Modulo de formularios con el valor para vincularlo con formulario
       -->
    </form>
  </div>
</div>
<hr>
<div 
 *ngIf="hayError"
 class="alert alert-danger">No se encontro nada con el término {{termino}}</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>nombre</td>
                    <td>123154</td>
                    <td>
                        <a href="/pais/cri">Ver..</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>